<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head> 
	<title>Scribe - Login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<link rel="stylesheet" th:href="@{normalize.css}">
  	<link rel="stylesheet" th:href="@{skeleton.css}">
</head>
<body>
	<div class="container" style="margin-top: 12em;">

		<div class="row">
			<div class="one-third column">&nbsp;</div>
			<div class="two-thirds column">
				  	<h3>Login</h6>
			</div>
		</div>

		<div class="row" th:if="${param.error}">
			<div class="one-third column">&nbsp;</div>
			<div class="two-thirds column">
				  	<p style="color: red;">Invalid username or password.</p>
			</div>
		</div>
		<div class="row" th:if="${param.logout}">
			<div class="one-third column">&nbsp;</div>
			<div class="two-thirds column">
				  	<p>You have been logged out.</p>
			</div>
		</div>

		<form th:action="@{/login}" method="post">
			<div class="row">
				<div class="one-third column">&nbsp;</div>
				<div class="two-thirds column">
				  	<label for="username">Username</label>
				  	<input style="width: 50%;" type="text" id="username" name="username" autofocus>
				</div>
            </div>
            <div class="row">
				<div class="one-third column">&nbsp;</div>
				<div class="two-thirds column">
                    <label for="password">Password</label>
                    <input style="width: 50%;" type="password" id="password" name="password">
              </div>
			</div>
			<div class="row">
				<div class="one-third column">&nbsp;</div>
                <div class="two-thirds column">
					<label for="buttonInput">&nbsp;</label>
					<input style="width: 50%;" class="button-primary" type="submit" value="Login" id="buttonInput" />
				</div>
			</div>
		</form>

		<div class="row">
            <div class="one-third column">&nbsp;</div>
            <div class="two-thirds column">
                <a style="width: 50%;" id="toSignup" th:href="@{/signup}">Create an account</a>
            </div>
        </div>

	</div>
</body>
</html>